<html class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Podcast Player</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <!-- JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bulma-slider@2.0.5/dist/js/bulma-slider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.4/howler.core.min.js"
        integrity="sha512-d00Brs/+XQUUaO0Y9Uo8Vw63o7kS6ZcLM2P++17kALrI8oihAfL4pl1jQObeRBgv06j7xG0GHOhudAW0BdrycA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-slider@2.0.5/dist/css/bulma-slider.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/circular-progress.css') }}" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-divider@1.1.0/dist/bulma-divider.min.css">
</head>

<body>
    <!-- Top navbar -->
    <nav id="top-navbar" class="navbar has-background-light is-fixed-top" role="navigation"
        aria-label="main navigation">
        <div class="navbar-brand">
            <h1 class="title navbar-item is-size-4 has-text-primary-25" id="top-navbar-title">
                <span class="icon">
                    <i class="fas fa-podcast"></i>
                </span>
                Podcast Player
            </h1>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <button class="button is-dark" id="dark-mode-toggle">
                        <span class="icon">
                            <i class="fas fa-moon" aria-hidden="true"></i>
                        </span>
                        <span>Dark Mode</span>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Top-level container -->
    <div class="container is-fluid">
        <!-- Two columns for left and right panes -->
        <div class="columns">

            <!-- Left Pane -->
            <!-- Episodes -->
            <div id="left-pane" class="column is-one-third">
                <!-- Internal flexbox for vertical columns -->
                <div id="episodes-container" class="is-fullwidth">

                    <!-- Title header -->
                    <h2 class="title is-4 has-text-centered mt-2">Episodes</h2>

                    <!-- Content Container -->
                    <div id="episodes-columns" class="is-fullwidth">
                        <div class="is-flex is-flex-direction-column" id="episodes-list-container">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Column Divider -->
            <div class="divider is-vertical"></div>

            <!-- Center Pane -->
            <div id="center-pane" class="column is-one-fourth">
                <!-- Title header -->
                <h2 class="title is-4 has-text-centered mt-2">Now Playing</h2>
            </div>

            <!-- Column Divider -->
            <div class="divider is-vertical"></div>

            <!-- Right Pane -->
            <!-- Podcasts -->
            <div id="right-pane" class="column is-one-third">
                <!-- Internal flexbox for vertical columns -->
                <div id="podcasts-container"
                    class="is-fullwidth is-flex is-flex-direction-column is-justify-content-space-evenly">

                    <!-- Title header -->
                    <h2 class="title is-4 has-text-centered mt-2">Podcasts</h2>

                    <!-- Tabs -->
                    <div class="tabs is-centered is-toggle">
                        <ul>
                            <li id="podcasts-list-tab" class="is-active">
                                <a>
                                    <span class="icon is-small">
                                        <i class="fas fa-podcast" aria-hidden="true"></i>
                                    </span>
                                    <span>Podcasts</span>
                                </a>
                            </li>
                            <li id="new-podcasts-tab">
                                <a>
                                    <span class="icon is-small">
                                        <i class="fas fa-plus" aria-hidden="true"></i>
                                    </span>
                                    <span>Add New</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Content Container -->
                    <div id="podcasts-columns"> <!--class="is-fullwidth" -->
                        <div class="is-flex is-flex-direction-column" id="podcasts-list-container">
                        </div>
                        <div class="is-fullwidth is-invisible" id="add-podcast-container"></div>
                    </div>
                </div>
            </div>

        </div> <!-- End left and right panes -->
    </div> <!-- End top-level container -->
    <div class="fixed-bottom-bar has-background-light" id="bottom-player"></div>
</body>

</html>