<div class="columns is-fixed-bottom">
    <!-- Left Pane: Title and Description -->
    <div class="navbar-brand column is-3">
        <div class="navbar-item">
            <figure class="image is-48x48 mr-2">
                <img id="bottom-player-image" src="https://bulma.io/assets/images/placeholders/128x128.png"
                    alt="Current podcast image" />
            </figure>
            <div>
                <p id="bottom-player-episode-name" class="has-text-weight-bold">Current Episode</p>
                <p id="bottom-player-podcast-name" class="is-size-6">Podcast Name</p>
                <p id="bottom-player-duration" class="is-size-7">00:00:00</p>
            </div>
        </div>
    </div>

    <!-- Center Pane: Controls and Progress -->
    <div class="navbar-center column">
        <!-- Internal vertical columns -->
        <div class="is-flex is-flex-direction-column is-justify-content-space-evenly">

            <!-- Controls -->
            <div class="navbar-controls is-flex is-justify-content-center mt-3">
                <div class=" buttons is-flex is-flex-direction-row">
                    <button class="button is-small">
                        <span class="icon" id="prev"><i class="fas fa-step-backward"></i></span>
                    </button>
                    <button class="button is-medium is-primary">
                        <span class="icon paused" id="play-pause"><i class="fas fa-play"></i></span>
                    </button>
                    <button class="button is-small">
                        <span class="icon" id="next"><i class="fas fa-step-forward"></i></span>
                    </button>
                </div>
            </div>

            <!-- Progress -->
            <div class="navbar-progress">
                <input id="progress-slider" class="slider is-fullwidth" step="1" min="0" max="100" value="0"
                    type="range">
            </div>

        </div>
    </div>

    <!-- Right Pane: Volume -->
    <div class="navbar-volume column is-2 mt-2">
        <!-- Internal vertical columns -->
        <div
            class="is-flex is-flex-direction-column is-justify-content-center is-align-content-space-evenly is-align-items-center">

            <!-- Volume Dial-->
            <div id="volume-display" class="progress-circle is-success mb-1" value="10" max="100">
                <span id="volume-value" class="progress-inner">10%</span>
            </div>

            <!-- Volume Slider -->
            <input id="volume-slider" class="slider tb-1" step="1" min="0" max="100" value="10" type="range">
        </div>
    </div>
</div>
<script>bulmaSlider.attach();</script>