<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>Episode {{ episode_number }}: {{ episode_name }} </strong>
                    <br />
                    <small>{{ episode_description }}</small>
                    <br />
                    <small>{{ episode_duration }}</small>
                </p>
            </div>
        </div>
        <div class="media-right">
            <button class="button is-primary">
                <span class="icon">
                    <i class="fas fa-play"></i>
                </span>
            </button>
        </div>
    </article>
</div>