<div class="dropdown-item">
    <div class="box has-text-centered">
        <a class="button is-static is-primary">
            <span class="icon">
                <i class="fas fa-clock" aria-hidden="true"></i>
            </span>
            <span>Playback Speed</span>
        </a>
        <input class="slider is-fullwidth" id="playback-speed-slider" type="range" min="0.5" max="2" step="0.1"
            value="1" />
        <output for="playback-speed-slider" id="playback-speed-value">1.0</output>x
    </div>
</div>