<div class="box podcast-box mb-3 {{ is_default }}">
    <article class="media">
        <div class="media-left is-4 is-text-centered">
            <figure class="image is-64x64">
                <img src="{{ podcast_image }}" alt="{{ podcast_name }}" />
            </figure>
        </div>
        <div class="media-content is-8">
            <div class="content">
                <p>
                    <strong id="podcast-name-display">{{ podcast_name }}</strong></br>
                    <small id="podcast-owner-display">{{ podcast_owner }}</small>
                </p>
                <p id="podcast-description-display" class="has-text-left is-size-7 podcast-description">
                    {{ podcast_description }}
                </p>
            </div>
        </div>
    </article>
</div>