/* -------------------- MAIN LAYOUT  -------------------------- */
/* ------------------------------------------------------------ */
body {
    padding-bottom: 5rem;
    overflow: hidden;
}

.fixed-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
}

/* -------------------- TOP NAVBAR ---------------------------- */
/* ------------------------------------------------------------ */
/* @media screen and (min-width: 769px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    flex: 0 0 auto;
} */


/* -------------------- Right Pane: Volume -------------------- */
/* ------------------------------------------------------------ */
.navbar-volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.volume-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 8px;
    height: 80px;
    padding: 0 5px;
    margin: 0 0.5rem;
}

/* -------------------- Center Pane: Progress ----------------- */
/* ------------------------------------------------------------ */




/* -------------------- General Styles ------------------------ */
/* ------------------------------------------------------------ */
#podcasts-columns {
    overflow-x: hidden;
    /* overflow-y: auto; */
    max-height: 55vh;
    scrollbar-width: thin;
}

#episodes-columns {
    overflow-x: hidden;
    max-height: 55vh;
    scrollbar-width: thin;
}

.podcast-description {
    text-overflow: ellipsis;
    max-width: 60ch;
    word-wrap: break-word;
    white-space: initial;
}